"*":
  "atom-ide-ui":
    use: {}
  "atom-package-deps":
    ignored: []
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    destroyEmptyPanes: false
    disabledPackages: [
      "language-gfm"
      "react"
      "nuclide"
      "flow-ide"
      "hyperclick"
      "linter"
      "linter-stylelint"
      "ide-typescript"
      "fast-eslint"
    ]
    packagesWithKeymapsDisabled: [
      "emmet"
      "auto-indent"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "gruvbox-plus-syntax"
    ]
  docblockr:
    lower_case_primitives: true
  editor:
    fontFamily: "\"Fira Code\""
    fontSize: 9
    preferredLineLength: 100
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "59eb8e27-c30d-8e7b-537f-52bb9c0f1589"
  "fast-eslint": {}
  "gruvbox-plus-syntax":
    contrast: "Hard"
  "ide-flowtype":
    tryFlowBin: true
  "language-babel": {}
  linter:
    disabledProviders: [
      "stylelint"
    ]
    lintOnChange: false
    lintOnChangeInterval: 5000
  "linter-eslint":
    lintHtmlFiles: true
    scopes: [
      "source.js"
      "source.js.embedded.html"
      "text.html.vue"
      "source.jsx"
      "source.js.jsx"
      "source.babel"
      "source.js-semantic"
    ]
  "linter-ui-default": {}
  nuclide:
    "nuclide-file-tree": {}
    "nuclide-working-sets":
      workingSets: [
        {
          active: true
          name: "apphub site"
          uris: [
            "/Users/josephsikorski/Documents/Projects/apphub/apphub-site"
          ]
        }
        {
          active: true
          name: "apphub api"
          uris: [
            "/Users/josephsikorski/Documents/Projects/apphub/apphub-api"
          ]
        }
        {
          active: true
          name: "apphub musing"
          uris: [
            "/Users/josephsikorski/Documents/Projects/apphub/Musing"
          ]
        }
      ]
  welcome:
    showOnStartup: false
